# Vim
*~
*.sw[p_]

# Sublime Text
*.sublime-project
*.sublime-workspace

# Ruby Gem
*.gem
.bundle
Gemfile.lock
**/vendor/bundle

# Node.js and NPM
node_modules
npm-debug.log*
package-lock.json
codekit-config.json

# macOS
.DS_Store

# Sphinx output
build